<?xml version="1.0" encoding="UTF-8" ?>
{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
  <head>
    <title>Créer Joueur</title>
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <form action='playerConnection' method="post">

        <input type="text" name="pseudo" placeholder="Pseudonyme"></input>
        <br/>
        <input type="text" name="email" placeholder="adresse mail"></input>
        <br/>
        <input type="number" name="phone" placeholder="numéro de téléphone"></input>
        <br/>
        <input type="password" name="password" placeholder="mot de passe"></input>
        <br/>
        <input type="submit">Création du profil</input>
    </form>
    
    
  </body>
  <footer>
    <p>An awesome site made by Hyungoo</p>
  </footer>
</html>