<?xml version="1.0" encoding="UTF-8" ?>
{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
  <head>
    <title>Créer tournoi</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <h1>{{tournament.name}}</h1>

    <form action='createtournament' method="post">
        <!-- Créer methode qui récupère & traite le post en back = fonction dans views -->
        <input type="submit">créer le tournoi</input>
    </form>
    <!-- ETAT du tournoi : ouvert [place dispo && date limite] -->

    <!-- Nom du tournoi -->
    <!-- Cash Prize -->
    <!-- Date et heure-->
    <!-- Limite de places -->
    
    <!-- Contenu de la page respectant la syntaxe XML. -->
    {% for team in tournament.match.teamRed %}
        <p>{{ tournament }}</p>
    {% endfor %}
  </body>
  <footer>
    <p>An awesome site made by Hyungoo</p>
  </footer>
</html>